<?xml version="1.0" encoding="UTF-8"?>

<!--
  Modified version of original WixUI_InstallDir.wxs from Wix 3.6.
  This one uses modified ExitDialog with a text and link to
  VSdocman site.
-->

<!--
 <copyright file="ExitDialog.wxs" company="Outercurve Foundation">
   Copyright (c) 2004, Outercurve Foundation.
   This software is released under Microsoft Reciprocal License (MS-RL).
   The license and further copyright text can be found in the file
   LICENSE.TXT at the root directory of the distribution.
 </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="ExitDialogEx" Width="370" Height="270" Title="!(loc.ExitDialog_Title)">
        <Control Id="Finish" Type="PushButton" X="236" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUIFinish)" />
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUICancel)" />
        <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.ExitDialogBitmap)" />
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="135" Y="70" Width="220" Height="40" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogDescription)" />
        <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.ExitDialogTitle)" />
        <Control Id="OptionalText" Type="Text" X="135" Y="110" Width="220" Height="80" Transparent="yes" NoPrefix="yes" Hidden="yes" Text="[WIXUI_EXITDIALOGOPTIONALTEXT]">
          <Condition Action="show">WIXUI_EXITDIALOGOPTIONALTEXT AND NOT Installed</Condition>
        </Control>

        <Control Id="OpenVSdocmanWeb"
                 Type="PushButton"
                 X="135" Y="150" Width="35" Height="35"
                 Default="yes"
                 Icon="yes" FixedSize="yes" IconSize="32"
                 Text="WixUI_VSdocmanIcon"
                 ToolTip="!(loc.ExitDialogOpenVSdocmanWebTooltip)">
          <Publish Event="DoAction" Value="CA_OpenVSdocmanWebPage">1</Publish>
        </Control>
        <Control Id="VSdocmanDescription"
                 Type="Text"
                 X="180" Y="150" Width="185" Height="80"
                 Transparent="yes"
                 NoPrefix="yes"
                 Text="!(loc.ExitDialogVSdocmanDescription)" />
      </Dialog>

      <InstallUISequence>
        <Show Dialog="ExitDialogEx" OnExit="success" Overridable="yes" />
      </InstallUISequence>

      <AdminUISequence>
        <Show Dialog="ExitDialogEx" OnExit="success" Overridable="yes" />
      </AdminUISequence>
    </UI>
  </Fragment>
</Wix>