<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--files in the main directory-->
	<Fragment>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="C_license.rtf_5F2BBD6A42BC42cc8BDFAF01C8403F5B" Guid="{5F2BBD6A-42BC-42cc-8BDF-AF01C8403F5B}">
        <File Id="F_license.rtf_5F2BBD6A42BC42cc8BDFAF01C8403F5B" Name="license.rtf" KeyPath="yes" DiskId="1" Source="Files\license.rtf" />
      </Component>
      <Component Id="C_readme.txt_132FC07380CD42829C59F058EFF82F33" Guid="{132FC073-80CD-4282-9C59-F058EFF82F33}">
        <File Id="F_readme.txt_132FC07380CD42829C59F058EFF82F33" Name="readme.txt" KeyPath="yes" Vital="no" DiskId="1" Source="Files\readme.txt" />
      </Component>
      <Component Id="C_license.txt_BDBA778005934d078DD0C06712C6C6EB" Guid="{BDBA7780-0593-4d07-8DD0-C06712C6C6EB}">
        <File Id="F_license.txt_BDBA778005934d078DD0C06712C6C6EB" Name="license.txt" KeyPath="yes" DiskId="1" Source="Files\license.txt" />
      </Component>
      <Component Id="C_MultilineSearch.chm_D90C1642929D4c7c91BE3FCF9E390BD7" Guid="{D90C1642-929D-4c7c-91BE-3FCF9E390BD7}">
        <File Id="F_MultilineSearch.chm_D90C1642929D4c7c91BE3FCF9E390BD7" Name="MultilineSearch.chm" KeyPath="yes" DiskId="1" Source="..\Help\MultilineSearch.chm" />
      </Component>

      <Component Id="C_MultiLineSearch.dll_075BD0E6B19241bf8A75AA8A68102F83" Guid="{075BD0E6-B192-41bf-8A75-AA8A68102F83}">
        <File Id="F_MultiLineSearch.dll_075BD0E6B19241bf8A75AA8A68102F83" 
              Name="MultiLineSearch.dll" KeyPath="yes" DiskId="1" 
              Source="..\MultiLineSearch\bin\Release\MultiLineSearch.dll" />
      </Component>
    </DirectoryRef >

    <ComponentGroup Id="CG_MainFolder_components">
      <ComponentRef Id="C_license.rtf_5F2BBD6A42BC42cc8BDFAF01C8403F5B" />
      <ComponentRef Id="C_readme.txt_132FC07380CD42829C59F058EFF82F33" />
      <ComponentRef Id="C_license.txt_BDBA778005934d078DD0C06712C6C6EB" />
      <ComponentRef Id="C_MultilineSearch.chm_D90C1642929D4c7c91BE3FCF9E390BD7" />
      <ComponentRef Id="C_MultiLineSearch.dll_075BD0E6B19241bf8A75AA8A68102F83" />
    </ComponentGroup>
    
	</Fragment>
</Wix>