<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Registering the package -->
  <?include $(sys.CURRENTDIR)\Properties.wxi?>
	<Fragment>

    <!--Perform registration-->
    <DirectoryRef Id='TARGETDIR'>
      
      <!--VS 2005-->
      <Component Id="C_PackageRegistration2005_F55A7885B3E7479eB4C6102E32F795BF" Guid="{F55A7885-B3E7-479e-B4C6-102E32F795BF}">
        <?define VsVersion = "8.0" ?>
        <?include PackageRegistrationRegistry.wxi ?>
      </Component>

      <!--VS 2008-->
      <Component Id="C_PackageRegistration2008_2DF5783E339E43fbA13FCFD7B21F2282" Guid="{2DF5783E-339E-43fb-A13F-CFD7B21F2282}">
        <?define VsVersion = "9.0" ?>
        <?include PackageRegistrationRegistry.wxi ?>
      </Component>

      <!--VS 2010-->
      <Component Id="C_PackageRegistration2010_8F30B5E86F2044ccB8857AFBDE1574E6" Guid="{8F30B5E8-6F20-44cc-B885-7AFBDE1574E6}">
        <?define VsVersion = "10.0" ?>
        <?include PackageRegistrationRegistry.wxi ?>
      </Component>

      <!--VS 2012-->
      <Component Id="C_PackageRegistration2012_858F77450E974a33B355C59DD95E814D" Guid="{858F7745-0E97-4a33-B355-C59DD95E814D}">
        <?define VsVersion = "11.0" ?>
        <?include PackageRegistrationRegistry.wxi ?>
      </Component>

      <!--VS 2013-->
      <Component Id="C_PackageRegistration2013_EA218C0A25BF4a8e90B0F1EEFE75CE40" Guid="{EA218C0A-25BF-4a8e-90B0-F1EEFE75CE40}">
        <?define VsVersion = "12.0" ?>
        <?include PackageRegistrationRegistry.wxi ?>
      </Component>

    </DirectoryRef>

    <ComponentGroup Id="CG_PackageRegistration_components">
      <ComponentRef Id="C_PackageRegistration2005_F55A7885B3E7479eB4C6102E32F795BF" />
      <ComponentRef Id="C_PackageRegistration2008_2DF5783E339E43fbA13FCFD7B21F2282" />
      <ComponentRef Id="C_PackageRegistration2010_8F30B5E86F2044ccB8857AFBDE1574E6" />
      <ComponentRef Id="C_PackageRegistration2012_858F77450E974a33B355C59DD95E814D" />
      <ComponentRef Id="C_PackageRegistration2013_EA218C0A25BF4a8e90B0F1EEFE75CE40" />
      <ComponentGroupRef Id="CG_Extension_registration_components"/>
    </ComponentGroup>
    
  </Fragment>
</Wix>